.featuredPost {
  background: $color-light-purple;
  padding: 80px 0;
  margin-bottom: 64px;
}

.postContainer {
  @include flex($align: center, $justify: space-between);

  & img {
    max-width: 515px;
    width: 100%;
    height: auto;
  }
}

.postContent {
  @include flex($direction: column, $align: flex-start);

  max-width: 630px;
}

.postSubtitle {
  @include font(
    $size: $font-size-xs3,
    $weight: $font-weight-medium,
    $family: var(--font-secondary),
    $line: 20px
  );

  margin-bottom: 20px;
  color: $color-darkblue;
  letter-spacing: 3px;
}

.postTitle {
  @include font($size: $font-size-lg, $line: 48px, $weight: $font-weight-bold);

  letter-spacing: -2px;
  margin-bottom: 16px;
  color: $color-darkblue;
}

.postInfo {
  @include font(
    $size: $font-size-xs3,
    $line: 28px,
    $family: var(--font-secondary),
    $weight: $font-weight-medium
  );

  margin-bottom: 16px;
  color: $color-dark-grey;
}

.postText {
  margin-bottom: 32px;
}

@media screen and (max-width: $breakpoint-desktopM) {
  .featuredPost {
    padding: 0;
    padding-top: 30px;
  }

  .postContainer {
    flex-direction: column-reverse;
    width: 100%;
    max-width: 90%;

    & img {
      margin-bottom: 25px;
      max-width: 70%;
    }
  }

  .postContent {
    margin-bottom: 20px;
    width: 100%;
  }
}

@media screen and (max-width: $breakpoint-tabletS) {
  .postContainer {
    & img {
      margin-bottom: 25px;
      max-width: 100%;
    }
  }

  .postContent {
    align-items: center;
    text-align: center;
  }

  .postTitle {
    font-size: $font-size-md;
    line-height: 35px;
    margin-bottom: 10px;
  }

  .postInfo {
    margin-bottom: 5px;
  }

  .postSubtitle {
    margin-bottom: 10px;
  }
}
