.posts {
}

.postsTitle {
  @include font(
    $size: var(--font-size-xl),
    $line: 64px,
    $weight: var(--font-weight-bold)
  );

  letter-spacing: -2px;
  position: relative;
  margin-bottom: 96px;

  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    background: var(--color-grey);
    bottom: -32px;
    left: 0;
    opacity: 32%;
  }
}
