@import '@styles/mixins';

.banner {
  width: 100%;
  padding: 128px 0 192px;
  position: relative;
  background: linear-gradient(
      to bottom,
      $color-banner-shadow,
      $color-banner-shadow
    ),
    url('~src/assets/images/homeBanner.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $color-white;
  margin-bottom: 128px;
}

.bannerMeta {
  @include font($size: $font-size-xs3, $family: var(--font-secondary));

  letter-spacing: 3px;
  margin-bottom: 24px;

  & span {
    font-weight: $font-weight-extraBold;
  }
}

.bannerTitle {
  @include font($size: $font-size-xl2, $weight: $font-weight-bold, $line: 64px);

  max-width: 800px;
  letter-spacing: -2px;
  margin-bottom: 24px;
}

.bannerAuthor {
  @include font($size: $font-size-xs3, $family: var(--font-secondary));

  margin-bottom: 16px;

  & span {
    color: $color-yellow;
  }
}

.bannerText {
  @include font(
    $size: $font-size-xs3,
    $line: 28px,
    $family: var(--font-secondary)
  );

  max-width: 600px;
  margin-bottom: 48px;
}

@media screen and (max-width: $breakpoint-laptopS) {
  .bannerContainer {
    @include flex($direction: column, $align: center);
    text-align: center;
  }

  .bannerTitle {
    font-size: $font-size-lg;
    line-height: 40px;
  }

  .bannerText {
    font-size: $font-size-xs4;
    line-height: 25px;
  }
}
