body {
  --color-black: #000;
  --color-white: #fff;
  --color-darkblue: #232536;
  --color-yellow: #ffd050;
  --color-purple: #592ea9;
  --color-grey: #6d6e76;
  --color-light-grey: #f4f4f4;
  --color-dark-grey: #4c4c4c;
  --color-light-yellow: #fbf6ea;
  --color-light-purple: #f4f0f8;
  --color-border: rgba(109, 110, 118, 0.1);
  --color-footer-subscribe: #2e3040;

  --font-size-xl2: 56;
  --font-size-xl: 48;
  --font-size-lg: 36;
  --font-size-md: 28;
  --font-size-sm: 24;
  --font-size-xs: 20;
  --font-size-xs2: 18;
  --font-size-xs3: 16;
  --font-size-xs4: 14;

  --border-radius-md: 7px;
}
