body {
  --color-black: #000;
  --color-white: #fff;
  --color-darkblue: #232536;
  --color-yellow: #ffd050;
  --color-purple: #592ea9;
  --color-grey: '#6D6E76';
  --color-light-grey: #f4f4f4;
  --color-dark-grey: #4c4c4c;
  --color-light-yellow: #fbf6ea;
  --color-light-purple: #f4f0f8;
}
