body {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-darkblue: rgba(35, 37, 54, 1);
  --color-yellow: rgba(255, 208, 80, 1);
  --color-purple: rgba(89, 46, 169, 1);
  --color-grey: rgba(109, 110, 118, 1);
  --color-light-grey: rgba(244, 244, 244, 1);
  --color-dark-grey: rgba(76, 76, 76, 1);
  --color-light-yellow: rgba(251, 246, 234, 1);
  --color-light-purple: rgba(244, 240, 248, 1);
  --color-border: rgba(109, 110, 118, 0.1);
  --color-footer-subscribe: rgba(46, 48, 64, 1);
  --color-banner-shadow: rgba(0, 0, 0, 0.5);
  --color-list-item: rgba(22, 23, 34, 1);

  --font-size-xl2: 56px;
  --font-size-xl: 48px;
  --font-size-lg: 36px;
  --font-size-md: 28px;
  --font-size-sm: 24px;
  --font-size-xs: 20px;
  --font-size-xs2: 18px;
  --font-size-xs3: 16px;
  --font-size-xs4: 14px;

  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semiBold: 600;
  --font-weight-bold: 700;
  --font-weight-extraBold: 800;

  --border-radius-md: 7px;
  --border-radius-lg: 28px;
}
