.tagSearch {
  @include flex($align: center);

  margin-bottom: 58px;
  position: relative;
  letter-spacing: -1.5%;
}

.searchInput {
  @include font($size: var(--font-size-xs4), $line: 24px, $weight: bold);

  color: var(--color-darkblue);
  border: 1px solid var(--color-grey);
  padding: 15px 0 15px 25px;
  border-radius: var(--border-radius-md);
  outline: none;
  width: 100%;
}

.searchButton {
  @include font($size: var(--font-size-xs3), $line: 24px, $weight: bold);

  background: var(--color-yellow);
  color: var(--color-darkblue);
  height: 100%;
  width: 83px;
  border-radius: var(--border-radius-md);
  position: absolute;
  border: 1px solid var(--color-yellow);
  right: 0;
  transition: 0.3s;

  &:hover {
    background: var(--color-white);
    transition: 0.3s;
  }
}

.elasticSearch {
  @include flex($direction: column, $align: flex-start);

  position: absolute;
  left: 0;
  top: 105%;
  width: 100%;
  border: 1px solid var(--color-grey);
  border-radius: var(--border-radius-md);
  background: var(--color-white);
}

.elasticButton {
  @include font($size: var(--font-size-xs2), $line: 24px, $weight: bold);

  background: none;
  width: 100%;
  padding: 10px 0 10px 20px;
  text-align: left;

  &:hover {
    background: var(--color-yellow);
  }
}
