.formField {
  width: 100%;
  position: relative;
  margin-bottom: 20px;
}

.errorText {
  @include font($size: var(--font-size-xs4), $family: var(--font-secondary));

  color: var(--color-red);
  position: absolute;
  bottom: -17px;
  left: 10px;
}
