.about {
  @include flex($justify: center);

  margin-bottom: 128px;
  position: relative;
  padding: 119px 0 96px 0;
  background: var(--color-light-purple);

  &::before {
    height: 23px;
    width: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(
      to right,
      var(--color-white) 18%,
      var(--color-yellow) 18%,
      var(--color-yellow) 78%,
      var(--color-purple) 78%,
      var(--color-purple) 100%
    );
  }
}

.aboutBlock {
  @include flex($direction: column);

  color: var(--color-darkblue);
  max-width: 515px;
  width: 100%;

  &:first-child {
    margin-right: 60px;
  }
}

.aboutTitle {
  @include font($size: 36px, $weight: var(--font-weight-bold), $line: 48px);

  margin-bottom: 16px;
  letter-spacing: -2px;
  max-width: 493px;
}

.missionTitle {
  @include font($size: 28px, $weight: var(--font-weight-bold), $line: 40px);

  letter-spacing: -1px;
  margin-bottom: 16px;
  max-width: 480px;
}

.aboutLink {
  @include font($size: 18px, $weight: var(--font-weight-bold));

  color: var(--color-purple);
  margin-top: 16px;
  transition: 0.3s;

  &:hover {
    color: var(--color-yellow);
    transition: 0.3s;
  }
}
