.header {
  background: $color-darkblue;
  padding: 10px 0;
}

.headerContainer {
  @include flex($align: center, $justify: space-between);
}

.headerControls {
  @include flex($align: center);
}

.headerTitle {
  @include font(
    $size: $font-size-sm,
    $weight: $font-weight-bold,
    $family: var(--font-secondary)
  );

  color: $color-white;
}

.videoButton {
  @include font($size: $font-size-xs2, $weight: $font-weight-bold);

  color: $color-darkblue;
  background: $color-white;
  border: 1px solid $color-darkblue;
  padding: 16px 48px;
  margin-left: 32px;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
    background: inherit;
    border: 1px solid $color-white;
    color: $color-white;
  }
}

.burgerMenu {
  z-index: 15;
  border: none;
  display: none;
  width: 20px;
  height: 15px;
  position: relative;
  transition: 0.3s;
  background: $color-darkblue;
  &::before,
  &::after {
    background: $color-white;
    position: absolute;
    left: 0;
    content: '';
    width: 100%;
    height: 2px;
    border-radius: 2px;
    transition: 0.3s;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &.active {
    & span {
      display: none;
    }

    &::before {
      transform: rotate(-45deg);
      top: 6.5px;
    }

    &::after {
      transform: rotate(45deg);
      bottom: 6.5px;
    }
  }
}

.burgerRow {
  background: $color-white;
  position: absolute;
  width: 100%;
  height: 2px;
  top: 6px;
  border-radius: 2px;
  left: 0;
}

@media screen and (max-width: ($breakpoint-laptopM)) {
  .header {
    padding: 18px 0;
  }

  .headerControls {
    display: none;

    &.visible {
      @include flex($align: center, $direction: column, $justify: center);
      z-index: 10;
      width: 100%;
      height: 100%;
      position: fixed;
      left: 0;
      top: 0;
      background: $color-darkblue;

      & button {
        margin-left: 0;
      }

      & > nav {
        @include flex($direction: column, $align: center);
        margin-bottom: 20px;

        & a {
          margin: 0 0 20px 0;
          font-size: $font-size-md;
        }
      }
    }
  }

  .burgerMenu {
    display: block;
  }
}
