.logos {
  @include flex($align: center, $justify: space-between);

  margin-bottom: 96px;

  & h4 {
    @include font($size: 24px, $weight: bold, $line: 32px);

    color: var(--color-grey);
  }

  & img {
    opacity: 70%;
    transition: 0.3s;

    &:hover {
      opacity: 100%;
      transition: 0.3s;
    }
  }
}

.logosList {
  @include flex($align: center, $justify: space-between);

  width: 80%;
}
