.userPreview {
  @include flex($align: center);

  & img {
    border-radius: 100%;
  }
}

.userInfo {
  margin-left: 16px;

  & h4 {
    @include font(
      $size: var(--font-size-sm),
      $weight: var(--font-weight-bold),
      $line: 32px
    );
  }

  & p {
    @include font($size: var(--font-size-xs3), $family: var(--font-secondary));

    color: var(--color-grey);
  }
}
