.userPreview {
  @include flex($align: center);

  & img {
    border-radius: 100%;
  }
}

.userInfo {
  margin-left: 16px;

  & h4 {
    @include font($size: 24px, $weight: bold, $line: 32px);
  }

  & p {
    @include font($size: 16px, $family: var(--font-secondary));

    color: var(--color-grey);
  }
}
