.postPage {
  padding-top: 80px;
}

.topper {
  color: $color-darkblue;
  max-width: 768px;
  margin: 0 auto 64px auto;
}

.topperTitle {
  @include font($size: $font-size-xl, $weight: $font-weight-bold, $line: 64px);

  letter-spacing: -2px;
  margin: 24px 0 34px 0;
  max-width: 768px;
}

.category {
  @include flex($align: center);
}

.categoryName {
  @include font($size: $font-size-sm, $weight: $font-weight-bold, $line: 32px);

  margin-left: 8px;
}

.content {
  @include flex($align: center, $direction: column);

  margin-bottom: 128px;

  img {
    width: 100%;
    height: 100%;
    margin-bottom: 64px;
  }
}

.contentBlock {
  margin-bottom: 48px;
  max-width: 843px;

  & h3 {
    @include font(
      $size: $font-size-lg,
      $weight: $font-weight-bold,
      $line: 48px
    );

    margin-bottom: 16px;
    letter-spacing: -3px;
  }

  & p {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.contentList {
  list-style-type: disc;
  margin-bottom: 24px;

  & li {
    @include font($size: 24px, $line: 32px, $weight: bold);

    color: $color-list-item;
    opacity: 78%;
  }
}

.recommended {
  margin-bottom: 128px;
  padding-bottom: 64px;
  position: relative;

  & h2 {
    margin-bottom: 64px;
  }

  a {
    width: 100%;
    max-width: 32%;
  }

  &::after {
    position: absolute;
    width: 100%;
    height: 1px;
    content: '';
    bottom: 0;
    left: 0;
    background: $color-grey;
    opacity: 30%;
  }
}

.postsList {
  @include flex($justify: space-between);
}

@media screen and (max-width: $breakpoint-laptopS) {
  .topperTitle {
    font-size: $font-size-md2;
    line-height: 40px;
  }

  .topper {
    margin-bottom: 30px;
  }

  .content {
    margin-bottom: 40px;

    & img {
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $breakpoint-tabletS) {
  .content {
    margin-bottom: 40px;

    & h3 {
      font-size: $font-size-md;
      line-height: 35px;
      letter-spacing: normal;
    }
  }

  .contentBlock {
    margin-bottom: 20px;
  }

  .contentList {
    & li {
      font-size: $font-size-sm;
      line-height: 30px;
    }
  }
}

@media screen and (max-width: $breakpoint-desktopS) {
  .postsList {
    @include flex($direction: column, $align: center, $justify: center);

    & h3 {
      text-align: center;
    }

    & > a {
      @include flex($align: center, $direction: column);

      padding: 30px 5px;
      max-width: none;
      margin-bottom: 40px;
      text-align: center;
      border: 1px solid $color-border;
      border-radius: $border-radius-md;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
