@import '@styles/mixins';

.listWrapper {
  @include flex($direction: column, $align: center);
}

.categoryList {
  @include flex($justify: space-between, $align: center, $wrap: wrap);

  margin-bottom: 128px;
}

.categoryItem {
  padding: 32px;
  border: 1px solid $color-border;
  cursor: pointer;
  transition: 0.3s;
  width: 22%;
  min-width: 280px;

  &:hover {
    background: $color-yellow;
    transition: 0.3s;
    border: 1px solid $color-yellow;
  }
}

.IconWrapper {
  @include flex($align: center, $justify: center);

  margin-bottom: 16px;
  border-radius: $border-radius-md;
  width: 48px;
  height: 48px;
  background: $color-light-yellow;
}

.categoryTitle {
  @include font($size: $font-size-md, $weight: $font-weight-bold);

  letter-spacing: -1px;
  color: $color-darkblue;
  margin-bottom: 4px;
}

@media screen and (max-width: $breakpoint-desktopM) {
  .categoryList {
    justify-content: center;
  }

  .categoryItem {
    width: 50%;
    margin-bottom: 10px;
  }
}
