.authors {
  margin-bottom: 96px;

  & h2 {
    text-align: center;
  }
}

.authorsList {
  @include flex($align: center, $justify: space-between);
}

.authorItem {
  @include flex($align: center, $justify: center, $direction: column);

  width: 100%;
  max-width: 296px;
  background: var(--color-light-grey);
  padding: 40px 0;
  transition: 0.3s;

  &:hover {
    background: var(--color-light-yellow);
    transition: 0.3s;
  }

  & img {
    border-radius: 100%;
  }

  & h4 {
    @include font($size: var(--font-size-md), $weight: var(--font-weight-bold));

    letter-spacing: -1px;
    margin-top: 20px;
  }

  & p {
    @include font($size: var(--font-size-xs4), $family: var(--font-secondary));

    margin-bottom: 20px;
  }
}
